<main>
  <section class="column-section">
    <div *ngFor="let column of columns" class="columnDiv">
      <app-column
        [columnName]="column.name"
        [borderColor]="column.color"
        [id]="column.id"
      >
      </app-column>
    </div>
  </section>
  <section class="button-section">
    <button (click)="openAddTaskModal()" class="add-project">
      <span>Criar</span><span>Tarefa</span>
    </button>

    <div class="add-column" (click)="openAddColumnModal()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
        />
      </svg>
      <button><span>Adicionar</span><span>Coluna</span></button>
    </div>
  </section>
  <app-add-column-modal
    *ngIf="isAddColumnModalOpen"
    (closeAddColumnEvent)="closeAddColumnModal()"
  ></app-add-column-modal>
  <app-add-task-modal [taskColumns]="taskColumns"
    *ngIf="isAddTaskModalOpen"
    (closeAddTaskEvent)="closeAddTaskModal()"
  ></app-add-task-modal>
</main>
