<app-default-auth-layout
  title="Crie sua conta"
  primaryBtnText="Criar Conta"
  secondaryBtnText="Faça Login"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="signupForm">
    <app-primary-input
      [formName]="'username'"
      formControlName="username"
      type="text"
      label="Usuário"
      placeholder="Seu nome de usuário"
    >
    </app-primary-input>
    <app-primary-input
      [formName]="'email'"
      formControlName="email"
      type="email"
      label="Email"
      placeholder="exemplo@gmail.com"
    >
    </app-primary-input>
    <app-primary-input
      [formName]="'password'"
      formControlName="password"
      type="password"
      label="Senha"
      placeholder="Digite sua senha"
    >
    </app-primary-input>
    <app-primary-input
      [formName]="'passwordConfirm'"
      formControlName="passwordConfirm"
      type="password"
      label="Confirme sua senha"
      placeholder="Digite a senha novamente"
    >
    </app-primary-input>
  </form>
</app-default-auth-layout>
